<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2980b9">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css">
    <title>Telemaque</title>
  </head>

  <body>
    <header>
      <h1>Telemaque</h1>
      <nav>
        <a class="nav-back" href="/">
          <img src="/img/arrow-back.svg"> Back
        </a>
      </nav>
    </header>
    <article>
      <h1>Add a new text</h1>
      <form>
        <div class="form-field">
          <label for="title">Title</label>
          <input name="title" type="text">
        </div>

        <div class="form-field">
          <label for="author">Author</label>
          <input name="author" type="text">
        </div>

        <div class="form-field">
          <label for="description">Description</label>
          <input name="description" type="text">
        </div>

        <input type="submit" value="Add">
      </form>
    </article>
  </body>

</html>
